# Change the name of this file to env.sh and set the values for the placeholders
steam_username=<placeholder>
steam_password=<placeholder>
game_admin_name=<placeholder>
game_admin_password=<placeholder>
server_name=<placeholder>
game_password=<placeholder>